# Node modules (dependencias de backend)
backend/node_modules/

# Variables de entorno secretas
backend/.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de VS Code locales
.vscode/
